{% load i18n cms_tags sekizai_tags %}

<form method="post"
    {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}
    {% if instance.form_attributes %} {{ instance.form_attributes_str }}{% endif %}
    {% if instance.custom_classes %} class="{{ instance.custom_classes }}"{% endif %}>

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}

    {% if post_success %}
            {% if form_success_url %}
                <p>{% blocktrans %}You will be <a href="{{ form_success_url }}">redirected shortly</a>.{% endblocktrans %}</p>
            {% elif instance.get_gated_content_container %}
                {% for plugin in instance.child_plugin_instances %}
                    {% if plugin.pk == instance.get_gated_content_container.pk %}
                        {% with show=True %}
                            {% render_plugin plugin %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% elif instance.success_message %}
                <p>{{ instance.success_message }}</p>
            {% else %}
                <p>{% blocktrans %}Thank you for submitting your information.{% endblocktrans %}</p>
            {% endif %}
    {% else %}
        {% csrf_token %}
        {% for plugin in instance.child_plugin_instances %}
            {% render_plugin plugin %}
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
    {% endif %}
</form>

{# INFO: this solution is currently required because we can't redirect from a plugin. #}
{% if post_success and form_success_url %}
    {% addtoblock "js" %}
        <script>
            setTimeout(function () {
                window.location.href = '{{ form_success_url }}';
            }, 5000);
        </script>
    {% endaddtoblock %}
{% endif %}
{% if USE_LOCALSTORAGE %}
    {% addtoblock "js" %}
        <script>
            $(function() {
                $( "#{{ instance.form_attributes.id }} :input" ).each(function() {
                    if ($(this).attr('name') && $(this).is(":hidden") == false){
                        var name = 'field-' + $(this).attr('name');
                        var value = localStorage.getItem(name) ? localStorage.getItem(name) : '';
                        $(this).val(value);
                    }
                });
            });
            $("#{{ instance.form_attributes.id }}").submit(function() {
                $( "#{{ instance.form_attributes.id }} :input" ).each(function() {
                    if ($(this).attr('name') && $(this).is(":hidden") == false){
                        var name = 'field-' + $(this).attr('name');
                        var value = $(this).val();
                        localStorage.setItem(name, value);
                    }
                });
            });
        </script>
    {% endaddtoblock %}
{% endif %}

