{% load i18n aldryn_forms_tags sekizai_tags %}

{% if field %}
    {% render_form_widget field class=instance.custom_classes %}

    {% if field.errors %}
        {% for error in field.errors %}
            <p>{{ error }}</p>
        {% endfor %}
    {% endif %}
{% endif %}

{% addtoblock "css" %}<script>
    // This function is called when the Turnstile script is loaded and ready to be used.
    // The function name matches the "onload=..." parameter.
    function turnstile_callback() {
        console.debug('turnstile_callback called');
        turnstile.render('#{{ field.id_for_label }}');        
        
    }
    </script>
{% endaddtoblock %}

